{% extends "www/base.html" %}

{% block title %}Adjutor Software{% endblock %}

{% block content %}
<header class="row">
  <div class="span12">
    <h1 class="page-header">Adjutor Software</h2>
    <blockquote>
      <dt>Adjutor /'ah-dyoo-tor/ <em>n</em>. [latin]</dt>
      <dd><strong>1.</strong> A helper or assistant.</dd>
    </blockquote>
    <p>
      Adjutor Software is the name I expect to use if I end up
      releasing software under the guise of a company rather than
      just as myself.
    </p>
    <p>
      I like making tools for people to help get things done. Adjutor
      software would be dedicated to bringing life and simplicity to
      essential utilities in productivity, creativity, and organization.
    </p>
  </div>
</div>
{% endblock %}

